#wrapper {
    width: 100%;
    margin: auto;
}

/* NAV ---------------------------- */
.nav {
    display: flex;
}

    .nav ul {
        list-style-type: none;
        display: flex;
        flex-basis: 100%;
        padding-top: 20px;
        justify-content: space-around;
    }

    .nav li {
        padding: 20px;
    }

    .nav a {
        text-decoration: none;
        font-size: 30px;
        color: black;
        font-weight: bold;
    }

        .nav a:hover {
            color: #d62727;
        }

    .nav img {
        width: 200px;
        padding: 20px;
    }

#cart {
    width: 50px;
    height: 50px;
    padding-top: 45px;
}

/* MAIN ---------------------------- */

main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1em;
    text-align: center
}

#SpecialtyDeal {
    grid-area: 1 / 1 / 3 / 2;
}

    #SpecialtyDeal img {
        width: 80%;
        height: auto;
    }

#OrderNow {
    grid-area: 1 / 2 / 2 / 3;
    padding: 10px;
    border: solid;
    background-color: #d62727;
    border-radius: 75px;
    height: 100%;
    width: 40%;
    color: white;
    margin-right: auto;
    margin-left: auto;
}

#CoolDeal {
    grid-area: 2 / 2 / 3 / 3;
    padding: 10%;
    display: block;
}

    #CoolDeal img {
        width: 65%;
    }

/* FOOTER ---------------------------- */

footer ul {
    list-style-type: none;
    display: flex;
    flex-basis: 100%;
    justify-content: space-around;
    padding-top: 15px;
    font-size: 25px;
    font-weight: bold;
}

footer {
    height: 100px;
    background-color: #d62727;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

    footer li:hover {
        color: white;
        cursor: pointer;
    }

/* MEDIA ---------------------------- */
@media only screen and (max-width: 56em) {
    .nav a {
        font-size: 20px;
    }

    .nav img {
        width: 100px;
        margin-top: 25px;
    }

    #cart {
        margin-top: 0;
        width: 100px;
    }
}

@media only screen and (max-width: 46em) {
    .nav ul {
        padding: 0;
    }

    .nav li {
        display: inline-block;
    }

    .nav a {
        font-size: 15px;
    }

    .nav img {
        width: 100px;
        padding-top: 25px;
    }

    #cart {
        padding-top: 20px;
    }

    footer ul {
        font-size: 15px;
    }
}

@media only screen and (max-width: 39em) {
    .nav {
        display: block;
    }

        .nav ul {
            padding: 0;
        }

        .nav li {
            display: inline-block;
        }

    #image {
        display: flex;
        justify-content: center;
    }

        #image img {
            width: 150px;
            padding: 0;
        }

    #cart {
        display: none;
    }

    footer ul {
        font-size: 15px;
        justify-content: space-around;
        padding: 0;
        padding-top: 20px
    }
}


/* ABOUT */
.about {
    display: flex;
    text-align: left;
    margin-left: 150px;
    padding-top: 165px;
    margin-right: 175px;
}

    .about img {
        width: 300px;
        height: 300px;
        float: right;
    }
